.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main button {
  margin: 10px 0;
  cursor: pointer;
}

.main__turno {
  text-align: center;
  max-width: 290px;
}

